body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background:black;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.about, .skills, .portfolio {
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.skill-container, .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.skill, .project {
    margin: 10px;
    text-align: center;
}

.skill img, .project img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s;
}

.skill img:hover, .project img:hover {
    transform: scale(1.2);
    

}

footer {
    background:white;
    color: black
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}